<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>ANP_Gestion access</title>
</head>
<body>
<header class="main-head">

  <app-nav-menu class="_nav"></app-nav-menu>
<!--  <nav>-->
<!--    <h1 id="logo"> Port de Casablanca</h1>-->
<!--      <ul >-->
<!--        <li><a href="/login">Login</a></li>-->
<!--        <li><a href="#">Register</a></li>-->
<!--      </ul>-->


<!--  </nav>-->
</header>
<section class="hero">
  <h2>Casablanca travell guides</h2>
  <h3>hhdhd ksmsk ksskm nsjs bshs nsksms bshsn bshsn msksm bsh</h3>

</section>
<main>

</main>


</body>
</html>
